* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

body {
	background: url("/../images/chalkboardBackground.jpg") no-repeat center center fixed;
	background-size: cover;
}

h3 {
	padding-top: 0.5em;
	font-size: 1.2em;
}

h6 {
	color: #000;
	padding-bottom: 0.6em;
	margin: 0.5em;
}

.allNames {
	color: blue;
	margin: 0em;
	padding-left: 0.5em;
}

.app {
	height: 100vh;
	overflow: auto;
	width: 100%;
}

.clickable,
.clickable:hover,
ul li:hover {
	cursor: pointer;
}

.close,
.close:hover,
.close:focus {
	color: #fff;
	font-weight: 400;
	opacity: 1;
	outline: none;
}

.content-container {
	min-height: 100vh;
	position: relative;
	top: 64px;
	width: 100%;
}

.dashboard-content-row {
	margin: auto;
	max-width: 1080px;
	padding: 20px 0;
	width: 90%;
}

.loginContentRow,
.registerContentRow {
	margin: 0;
	padding: 0;
}

.infoContainer {
	display: block;
	margin: auto;
	margin-top: 1.8em;
	max-width: 90%;
	border: 2px solid silver;
}

.info-div {
	max-height: 300px;
	overflow: hidden;
}

.infoInfoBox {
	border-top: 2px solid silver;
	height: 14em;
	background-color: #fff;
}

.infoTitle {
	text-align: center;
	background-color: #d00010;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}

.list-group-item {
	font-size: 0.8em;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}

.markers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	writing-mode: horizontal-tb;
	width: 100%;
}

.modal {
	margin-bottom: 80px;
	margin-top: 80px;
}

.modal-body {
	padding: 2em 2em;
}

.modal-dialog {
	margin-top: 0;
}

.modal-header {
	background-color: #0000FF;
}

.modal-title {
	padding-left: 0.7em;
	color: #fff;
}

.slider-bar {
	background-color: #efefef;
	border: 1px solid #aaa;
	border-radius: 5px;
	height: 12px;
	line-height: 12px;
	margin: 10px 10px 20px;
	/* padding-right: 2px; */
	position: relative;
}

.slider-bar-x {
	color: #0000FF;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: -1px;
	left: 0%;
}

/* .slider-bar-inner {
	background-color: rgb(0, 100, 255);
	background-color: rgba(0, 0, 255, 0.8);
	border-radius: 5px 0 0 5px;
	height: 100%;
	padding-left: 10px;
} */

.slider-bar-labels {
	display: flex;
	font-size: 12px;
	justify-content: space-between;
	line-height: 12px;
	margin-top: 12px;
}

#editIcon {
	cursor: pointer;
	height: 24px;
	padding: 5px;
	position: absolute;
	right: 0;
	top: -5px;
	width: 24px;
	z-index: 5;
}

#editIcon img {
	height: 100%;
	vertical-align: top;
	width: 100%;
}

#mainNavbar {
	background-color: #d00010;
	left: 0;
	min-height: 4em;
	padding: 0.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}

#navTitle {
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
}

#navLogo {
	height: 2.3em;
	margin: 0em 1em;
	padding-left: 0em;
	width: auto;
}

#navLogoutLink {
	border-top: 1px solid gray;
}

#navDropdownMenu {
	margin-right: 1.5em;
	font-size: 1.3em;
}

#navbarDropdown {
	color: #fff;
}

#search-container {
	left: 0;
	position: fixed;
	top: 4em;
	width: 100%;
	z-index: 2;
}


@media only screen and (max-width: 767px) {
	#navDropdown {
		line-height: 2;
		position: fixed;
		top: 60px;
		width: 100%;
	}

	.nav-title {
		display: none;
	}
}