/* * {
  border: 2px solid red;
} */

body { 
  background: url("/../images/chalkboardBackground.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App-title {
  text-align: center;
  font-size: 42px;
  color: #fff;
  padding: 20px;
}

.infoContainer {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 90%;
  border: 2px solid silver;
}

.infoTitle {
  text-align: center;
  background-color: #d00010;
  color: #fff;
}

.infoInfoBox {
  border-top: 2px solid silver;
  height: 240px;
  overflow: scroll;
  background-color: #fff;
}

h3 {
  padding-top: 10px;
  font-size: 20px;
}

.list-group-item {
  text-transform: uppercase;
  font-size: 0.9em;
  /* padding-left: 25%; */
}

.modal {
  max-height: 80%;
  margin-top: 7%;
}

.modal-body {
  padding: 2em 2em;
}

.modal-title {
  padding-left: 0.7em;
}

ul li:hover {
  cursor: pointer;
}

#editIcon {
  width: 0.7em;
  height: auto;
  position: absolute;
  right: 0.4em;
  top: 0.4em;
}


