#register-form {
    width: 400px;
    height: 400px;
    float: left;
    margin-top: 80px;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #393433;
    border-radius: 4px;
}

#registerBtn {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#formTitle {
    text-align: center;
    color: #393433;
    margin-bottom: 20px;
}

#largeLogo {
    width: 400px;
    height: 400px;
    float: right;
    margin-top: 80px;
    margin-right: 20px;
}

.col-md-6 {
    margin: 0px;
    padding: 0px;
}

#loginLink {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}